* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box; }

.roaster-btn, .robot, .robot__eye, .robot__mouth, .robot2, .robot2__eye, .robot2__mouth {
  border: 2px solid black; }

body {
  font-family: "Open Sans", sans-serif;
  min-height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  background: #000;
  color: #fff;
  font-size: 2rem;
  line-height: 2.6rem; }

.roast-container {
  height: 100vh;
  width: 100%;
  position: relative;
  max-width: 600px;
  margin: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: url("https://images.unsplash.com/photo-1509931817409-9a11cbf6c8c4?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=795c6ac5731b1473b290b254c7e89cdb&auto=format&fit=crop&w=934&q=80") center;
  background-size: cover; }
  .roast-container::before {
    opacity: 0.5;
    content: '';
    position: absolute;
    background: black;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    -webkit-animation: flashRoll 3s ease alternate infinite;
            animation: flashRoll 3s ease alternate infinite; }

.roastbox {
  background: rgba(0, 0, 0, 0.6);
  position: relative;
  height: auto;
  min-height: 33.333vh;
  width: 100%;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  z-index: 99;
  padding: 1rem; }

.roaster-btn {
  position: relative;
  z-index: 99;
  padding: 0.5rem 1rem;
  background: #ddd;
  background: darkred;
  color: whitesmoke; }
  .roaster-btn:focus {
    outline: 0; }

.robot {
  background: lightsteelblue;
  position: absolute;
  width: 100px;
  height: 100px;
  top: 5%;
  left: 5%;
  z-index: 10; }
  .robot__eye {
    position: absolute;
    background: white;
    top: 10px;
    width: 30px;
    height: 30px; }
    .robot__eye--left {
      left: 10px; }
    .robot__eye--right {
      right: 10px; }
  .robot__pupil {
    position: absolute;
    background: red;
    width: 10px;
    height: 10px;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
    -webkit-animation: eyeMovement 12s ease alternate infinite;
            animation: eyeMovement 12s ease alternate infinite; }
  .robot__mouth {
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, 15px);
            transform: translate(-50%, 15px);
    width: 80%;
    height: 2px;
    background: black; }
    .robot__mouth--talking {
      -webkit-animation: talkingRobot 0.3s infinite;
              animation: talkingRobot 0.3s infinite; }

.robot2 {
  background: silver;
  position: absolute;
  width: 100px;
  height: 100px;
  top: 5%;
  right: 5%;
  z-index: 9; }
  .robot2__eye {
    position: absolute;
    background: white;
    top: 10px;
    width: 30px;
    height: 30px; }
    .robot2__eye--left {
      left: 10px; }
    .robot2__eye--right {
      right: 10px; }
  .robot2__pupil {
    position: absolute;
    background: black;
    width: 10px;
    height: 10px;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
    -webkit-animation: eyeMovement2 10s ease infinite;
            animation: eyeMovement2 10s ease infinite; }
  .robot2__mouth {
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, 15px);
            transform: translate(-50%, 15px);
    width: 80%;
    height: 2px;
    background: black; }
    .robot2__mouth--talking {
      -webkit-animation: talkingRobot 0.5s infinite;
              animation: talkingRobot 0.5s infinite; }

@-webkit-keyframes flashRoll {
  0% {
    opacity: 0.5; }
  100% {
    opacity: 0.2; } }

@keyframes flashRoll {
  0% {
    opacity: 0.5; }
  100% {
    opacity: 0.2; } }

@-webkit-keyframes talkingRobot {
  0% {
    background-color: black;
    height: 2px; }
  100% {
    background-color: red;
    height: 10px; } }

@keyframes talkingRobot {
  0% {
    background-color: black;
    height: 2px; }
  100% {
    background-color: red;
    height: 10px; } }

@-webkit-keyframes eyeMovement {
  0% {
    height: 10px; }
  29% {
    height: 10px; }
  30% {
    height: 0px; }
  32% {
    height: 10px; }
  50% {
    height: 10px; }
  74% {
    height: 10px; }
  75% {
    height: 0px; }
  77% {
    height: 0px; }
  80% {
    height: 10px; }
  81% {
    height: 10px; }
  100% {
    height: 10px; } }

@keyframes eyeMovement {
  0% {
    height: 10px; }
  29% {
    height: 10px; }
  30% {
    height: 0px; }
  32% {
    height: 10px; }
  50% {
    height: 10px; }
  74% {
    height: 10px; }
  75% {
    height: 0px; }
  77% {
    height: 0px; }
  80% {
    height: 10px; }
  81% {
    height: 10px; }
  100% {
    height: 10px; } }

@-webkit-keyframes eyeMovement2 {
  0% {
    height: 10px; }
  29% {
    height: 10px; }
  30% {
    height: 10px; }
  32% {
    height: 10px; }
  50% {
    height: 10px; }
  74% {
    height: 10px; }
  75% {
    height: 0px; }
  80% {
    height: 10px; }
  81% {
    height: 10px; }
  100% {
    height: 10px; } }

@keyframes eyeMovement2 {
  0% {
    height: 10px; }
  29% {
    height: 10px; }
  30% {
    height: 10px; }
  32% {
    height: 10px; }
  50% {
    height: 10px; }
  74% {
    height: 10px; }
  75% {
    height: 0px; }
  80% {
    height: 10px; }
  81% {
    height: 10px; }
  100% {
    height: 10px; } }
